.site-header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: rgba($mainGray, .6);
    color: white;
    padding: 0 10px;
    border-bottom: 3px solid $mainRed;

    &__logo {
        margin: 0;
        padding: 7px 0;
    }

    &--translucent {
        background-color: rgba($mainGray, .95);
        border-bottom: 0;

    }
}
